{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>COMPSOC - {% block title %}University of Edinburgh Computer Science Society{% endblock %}</title>
        
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="{% static "compsoc/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "compsoc/css/override.css" %}">
        
        <link rel="icon" type="image/ico" href="{% static "compsoc/img/favicon.ico" %}">
        <link rel="apple-touch-icon" type="image/png" hrep="{% static "compsoc/img/compsoc-icon.png" %}">
    
        <!-- HTML 5 Shiv for Pre IE9: -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respons.min.js"></script>
        <![endif] -->
    </head>

    <body>
        
        <aside class="announce">
            <div class="container">
                <div class="alert alert-info alert-dismissable">
                    
                        Sign up to the <a href="/ilwhack">Smart Data Hack</a>, happenning this innovative learning week!
                    
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            </div>
        </aside>
        

        <header class="header">
            <div class="container">
                <a href="/compsoc/page/home">
                  <img class="header-img" src="{% static "compsoc/img/compsoc.png" %}" alt="CompSoc Edinburgh" >
                </a>
                
            </div>
        </header>
        
        <nav class="navbar navbar-compsoc">
            <div class="container">
                <div class="navbar-header">
                    <!-- Toggle Navigation button for XS and SM -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    
                    {% for navpage in nav_pages %}
                        {% if navpage.name == page.name %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{% url 'compsoc-page' navpage.name %}">{{ navpage.nav_name }}</a>
                        </li>
                    {% endfor %}
                    <li><a href="http://plone.comp-soc.com/compsoc/knowledgebase">KnowledgeBase</a></li>
                    <li><a href="/ilwhack">ILWHack</a></li>
                    
                    </ul>
                    <!-- Navbar Search -->
                    <div class="nav navbar-nav navbar-right" role="search">
                        <form class="form-inline" role="form" method="GET" action="{% url 'search' %}">
                            <div class="form-group">
                                <input type="text" name="query" class="form-control" placeholder="Can i haz??"></input>
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>
                </div>
                
            </div>
        </nav>
        
        
        <div class="content">
            <div class="container">
            
                <!--[if lte IE 8]><div id="i-hate-ie">
                    <h3>WE LOVE HTML5, CSS3 AND KITTENS!</h3>
                    <p>Your browser, unfortunately, doesn't and we can't be bothered to write special CSS and stuff just so it works in browsers written by numpties...</p>
                    <p>Basically please use anything <em>but</em> IE!</p>
                </div><![endif]-->
                
                <!-- Optional 3 column gallery: -->
                <!--
                <section class="gallery row">
                    
                    <div class="col-sm-4">
                        <h3>November STMU</h3>
                        <div class="row">
                            <div class="col-xs-4 col-sm-12 col-md-5">
                                <img class="img-responsive img-circle img-thumbnail centre" src="{% static "compsoc/img/xmas-cats.jpg" %}">
                            </div>
                            <div class="col-xs-8 col-sm-12 col-md-7">
                                <p>Come on Friday the 29th to the Informatics Forum for free pizza! Someone also mentioned some tech talks and stuff...</p>
                                <em>2013-11-29 18:00 to 20:00</em>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <h3>New New Compsoc Website</h3>
                        <div class="row">
                            <div class="col-xs-4 col-sm-12 col-md-5">
                                <img class="img-responsive img-circle img-thumbnail centre" src="{% static "compsoc/img/horse-onesie.jpg" %}">
                            </div>
                            <div class="col-xs-8 col-sm-12 col-md-7">
                                <p>Apparently there's a SIG for this but there's a bunch of first years on it so don't get your
                                hopes up... Anyone have experience building sites in Haskell??! <sup>Not even joking<sup>oh god</sup></sup>
                                YAY!
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <h3>Random Latin Because...</h3>
                        <div class="row">
                            <div class="col-xs-4 col-sm-12 col-md-5">
                                <img class="img-responsive img-circle img-thumbnail centre" src="{% static "compsoc/img/gent-cat.jpg" %}">
                            </div>
                            <div class="col-xs-8 col-sm-12 col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis lorem ut lorem varius fringilla. Duis quis metus ligula. Donec ultricies posuere risus a fringilla.</p>
                            </div>
                        </div>
                    </div>
                    
                </section>
                -->
                
                <!-- Main content and Sidebar: -->
                <div class="main row" role="main">
                    <div class="col-sm-8">
                        
                        <!-- MAIN PAGE CONTENT:  --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   -->
                        
                        {% block content %}{% endblock %}
                    </div>
            
            
                    <!--  SIDEBAR  --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   --   -->
            
                    <aside class="col-sm-4 sidebar">
                        
                        <h1>Events</h1>

                        {% for event in events %}
                        <section class="event">
                            <div class="event-cal">
                                <div class="event-date">
                                    <span class="event-date-day">{{ event.when|date:'D' }}</span>
                                    <span class="event-date-num">{{ event.when|date:'dS' }}</span>
                                    <span class="event-date-mon">{{ event.when|date:'M Y' }}</span>
                                </div>
                                <div class="event-time">{{ event.when|date:'H:i' }}</div>
                            </div>
                            <div class="event-description">
                                <h2>{{ event.title }}</h2>
                                <p>{{ event.description }}</p>
                            </div>
                            <div style="clear: both;"></div>
                        </section>
                        {% endfor %}   
                        <!-- using the hasacalendar.com api -->
                        <div id="events">
                        </div>
                        <!-- end hasacalendar -->
                        {% block sidebar%}
                        <h1>Hop on the IRC Bandwaggon</h1>
                        <p>We have an IRC channel on irc.imaginarynet.org.uk, come along and chat on #compsoc.</p>
                        
                        <h1>Connect with us!</h1>
                        <p>Like, +1, rebog, retweet and heart us on faceplustergumbletubenet!</p>
                        
                        <!--
                        <div id="widgetHerePlease">
                            Events from <a href="http://opentechcalendar.co.uk">Open Tech Calendar</a>
                        </div>
                        <script src="http://opentechcalendar.co.uk/widgetjs/listevents.js"></script>
                        <script>
                        OpenTechCalendarWidgetListEvents.place( 'widgetHerePlease' , { eventCount: 4, title: "Events in Edinburgh", locationId: 1 } );
                        </script> 
                        -->
                        {% endblock %}
                        
                    </aside>
                </div>
        
            </div>
        </div>
        
        <div class="container">
            <footer>
                New New CompSoc Website FTW!
                <span style="float: right;">Proudly not powered by WordPress</span>
            </footer>
        </div>
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{% static "compsoc/js/moment.min.js" %}"></script>
        <script>
            function PopulateEvents(data) {                                                              
                console.log(data.data);                                                        
                var cal = data.data;                                                           
                var len = 3;
                var leng = len;
                if(cal.length <= len) leng = cal.length;
                for(i = 0; i < leng; i++) {                                              
                    //TODO get the time so I can pull it apart
                    var desc = cal[i].description;
                    var time = moment.unix(cal[i].start.timestamp).format();
                    console.log(time);
                    if(desc.length > 50) desc = desc.substring(0,50)+"...";
                    var ev = "";
                    ev = "<section class='event'><div class='event-cal'><div class='event-date'><span class='event-date-day'>";
                    ev += "<span class='event-date-day'>";
                    ev += "" + day(moment(time).day());
                    ev += "</span>";
                    ev += "<span class='event-date-num'>";
                    ev += format_date(moment(time).date());
                    ev += "</span>";
                    ev += "<span class='event-date-mon'>";
                    ev += format_month(moment(time).month());
                    ev += "</span>";
                    ev += "</span>";
                    ev += "</div>";
                    ev += "<div class='event-time'></div>";
                    ev += "</div>";
                    ev += "<div class='event-description'>";
                    ev += "<a href='"+cal[i].url+"'><h2>"+cal[i].summary+"</h2></a>";
                    ev += "<p>"+desc+"</p>";
                    ev += "</div>";
                    ev += "<div style='clear: both;'></div>";

                    ev += "</section>";
                    $("#events").append(ev);                      
                    //console.log(cal[i].summary);                                               
                }                                                                              
                //console.log(data.data.length);                                                 
            }                                                                                  
            function day(t) {
                if(t == 1) return "Mon";
                else if(t == 2) return "Tue";
                else if(t == 3) return "Wed";
                else if(t == 4) return "Thur";
                else if(t == 5) return "Fri";
                else if(t == 6) return "Sat";
                else return "Sun";
            }
            function format_date(day) {
                if(day > 3) return day + "th";
                else if (day == 3) return "3rd";
                else if (day == 2) return "2nd";
                else if (day == 1) return "1st";
            }
            function format_month(month) {
                if (month == 0) return "Jan";
                else if (month == 1) return "Feb";
                else if (month == 2) return "Mar";
                else if (month == 3) return "Apr";
                else if (month == 4) return "May";
                else if (month == 5) return "Jun";
                else if (month == 6) return "Jul";
                else if (month == 7) return "Aug";
                else if (month == 8) return "Sep";
                else if (month == 9) return "Oct";
                else if (month == 10) return "Nov";
                else return "Dec";
            }
        </script>
        <script src="http://compsoc.api1.hasacalendar.co.uk/event/jsonp?callback=PopulateEvents"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "compsoc/js/bootstrap.min.js" %}"></script>
  </body>


</html>
