{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>ILWHack - {% block title %}University of Edinburgh Computer Science Society{% endblock %}</title>
        
        <meta charset="utf=8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
        <link rel="stylesheet" href="{% static 'ilwhack/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'ilwhack/css/fonts.css' %}" />
        <link rel="stylesheet" href="{% static 'ilwhack/css/override-ilwhack.css' %}" />
        <link rel="icon" type="image/ico" href="{% static 'ilwhack/img/favicon.ico' %}" />
        <link rel="apple-touch-icon" type="image/png" hrep="{% static 'ilwhack/img/compsoc-icon.png' %}" />
    
        <!-- HTML 5 Shiv for Pre IE9: -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respons.min.js"></script>
        <![endif] -->
    </head>

    <body>
        {% if not user.is_authenticated %}
        <aside class="announce">
            <div class="container">
                <div class="alert alert-info alert-dismissable">
                    Make sure you <a href="/ilwhack/register/">register</a> today!
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            </div>
        </aside>
        {% endif %}

        <header class="header">
            <div class="container">            
                <div class="row">
                    <div class="col-xs-3">
                        <a href="/ilwhack"><img class="header-img" src="{% static 'ilwhack/img/UoE-Mono.svg' %}" alt="CompSoc Edinburgh"></a>
                    </div>
                    <div class="col-xs-9 visible-xs">
                        <h1>Smart Data Hack</h1>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <h1>Smart Data Hack <small>2014</small></h1>
                    </div>                    
                </div>
            </div>
        </header>
        
        <nav class="navbar navbar-compsoc">
            <div class="container">
                <div class="navbar-header">
                    <!-- Toggle Navigation button for XS and SM -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse">
                    {% block navbar %}
                    
                    {% endblock %}
                </div>
                
            </div>
        </nav>
        
        
        <div class="content">
            <div class="container">
            
                <!--[if lte IE 8]><div id="i-hate-ie">
                    <h3>WE LOVE HTML5, CSS3 AND SHINEY NEW TECH!</h3>
                    <p>Your browser, unfortunately, doesn't and we shouldn't have to write special CSS and stuff just so it works in fossilised browsers...</p>
                    <p>So maybe invest in something free like Chrome, Firefox or Opera and not IE!</p>
                </div><![endif]-->
                

                <!-- Main content and Sidebar: -->
                <div class="main row" role="main">
                    <div class="col-sm-8 col-md-9">
                        
                        <!-- MAIN PAGE CONTENT: -->
                        
                        {% block content %}
                            <p>CONTENT GOES HERE</p>
                        {% endblock %}
                    </div>
            
            
                    <!-- SIDEBAR -->
            
                    <aside class="col-sm-4 col-md-3 sidebar">  
                        {% block sidebar%}
                        {% endblock %}
                            <div>
                                <h3>Sponsors:</h3>
                                <a href="https://www.edinburgh.gov.uk"><img class="img-responsive sponsor-logo" src="/static/ilwhack/img/edinburgh_logo_220px.gif" /></a>
                                <a href="/compsoc"><img class="img-responsive sponsor-logo" src="/static/compsoc/img/compsoc.png" alt="CompSoc"/></a>
                                <a href="http://scot.okfn.org/"><img class="img-responsive sponsor-logo" src="/static/ilwhack/img/okf-scot-logo-portrait-m.png" /></a>
                            </div>
                    </aside>
                </div>
        
            </div>
        </div>
        
        <div class="container">
            <footer class="row">
                <div class="col-xs-12 col-md-8">
                    <h3>About</h3>
                    <p>The Smart Data Hack is running as part of <a href="http://www.inf.ed.ac.uk/student-services/teaching-organisation/taught-course-information/informatics-innovative-learning-week-2013">Innovative Learning Week</a> in Informatics at the University of Edinburgh.</p>
                    <p>We hope to encourage partnerships between local businesses, community organisations and student developers, and promote the use of Open Data for creative, socially empowering applications.</p>
                    <p>The twitter hashtag for the event is <strong>#ilwhack</strong>.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h3>Contact</h3>
                    <p>Email: <em>{ ilw-hack @ inf.ed.ac.uk }</em></p>
                </div>
            </footer>
        </div>
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'ilwhack/js/jquery-1.10.2.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'ilwhack/js/bootstrap.min.js' %}"></script>
        {% block scripts %}{% endblock %}
  </body>


</html>
