{% extends 'ilwhack/page.html' %}
{% load crispy_forms_tags %}

{% block content %}
<article>
    <div class="post-header"><h1>Join the Fun!</h1></div>

    <div class="row">
        <div class="col-md-6">
        
            <form action="/ilwhack/login/" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <input type="submit" class="btn" value="Login" />
            </form>
        
        </div>
        <div class="col-md-6">
            <p>If you've forgorgotten your password, send your username and matric number to technical@comp-soc.com, using the email address you signed up with.</p>
        </div>
    </div>
</article>
{% endblock %}