{% extends "ilwhack/base.html" %}

{% block title %}
    {{ page.nav_name }}
{% endblock %}

{% block content %}
    {% load markdown_deux_tags %}
    <article>
            {{page.content|markdown:"trusted"}}
    </article>
{% endblock %}

  <!--
    <form action="/ilwhack/login" method="POST" role="form" class="">
        <div class="form-group">
            <label for="loginUsername">Username</label>
            <input type="text" id="loginUsername" class="form-control" name="username" placeholder="Username" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" disabled="disabled">
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="submit" class="btn btn-default" disabled="disabled">Login</button>
                <a href="#/ilwhack/register" class="btn btn-default disabled">Register</a>
            </div>
        </div>
    </form>
    <p class="text-warning">Registrations will be opening soon.</p>

    <hr />
  -->    
  
{% block navbar %}
    <ul class="nav navbar-nav">                
    {% for navpage in nav_pages %}
        {% if navpage.name == page.name %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{% url 'ilw-page' navpage.name %}">{{ navpage.nav_name }}</a>
        </li>
    {% endfor %}
        <li><a href="/ilwhack/teams/">Teams</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated and user.is_staff %}
            <li><a href="/ilwhack/participants/">Participants</a></li>
            <li><a href="/admin/ilwhack/">Admin</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <!-- You are authenticated -->
        {% if user.participant %}
            <h4>Hello, <em>{{ user.participant.display_name }}</em>!</h4>
        {% else %}
            <p class="text-warning">
                Warning: You are logged in with username <strong>{{ user.username }}</strong>, 
                who does not have any ILWHack profile data (probably an administrative/compsoc 
                account). Please log out and register a new account for the ILWHack.
            </p>
        {% endif %}
    {% else %}
        <!-- You are not authenticated -->
    {% endif %}
{% endblock %}