{% extends 'ilwhack/page.html' %}

{% block content %}
<h1>The Teams!</h1>

{% for team in teams %}
    <div class="row team-row">
        <div class="col-xs-12 col-md-5 team">
            <h3>{{ team.name }}</h3>
            <h5>Members</h5>
            <ul id="memberlist">
                {% for member in team.members.all %}
                    <li><span data-toggle="tooltip" title="{{ member.bio }}">
                    {% if member.is_leader %}
                        <strong>{{ member.display_name }}</strong> (Leader)
                    {% else %}
                        {{ member.display_name }}
                    {% endif %}
                    </span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-md-5 project">
            <h4>No project yet!</h4>
        </div>
        {% if user.participant and not user.participant.team %}
        <div class="col-md-2">
            <a href="/ilwhack/myteam/join/{{ team.id }}/" class="btn btn-primary">Join</a>
        </div>
        {% endif %}
    </div>
{% endfor %}


<h1>People Without a Team</h1>
<div id="participants">
    {% for participant in participants %}
    {% if not participant.team %}
        <div class="participant">
            <div>
                <h3>{{ participant.display_name }}</h3>
                <p>{{ participant.bio }}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script src="/static/ilwhack/js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    $('#memberlist span').tooltip({});
    var $container = $('#participants');
    $container.masonry({
        //columnWidth: 200,
        itemSelector: '.participant'
    });
</script>
{% endblock %}