{% extends "compsoc/base.html" %}
{% block announcement %}{% endblock %}
{% block event %}{% endblock %}

{% block sidebar-header %}
    Ledgers
{% endblock %}

{% block sidebar %}
    {% load markdown_deux_tags %}
        <article>
            <ul>
                {% for led in ledgers %}
                <li><a href='/ledger/show/{{ led.pk }}'>{{ led.date }}</a></li>
                {% endfor %}
            </ul>
        </article>
{% endblock %}


{% block content %}
    {% load markdown_deux_tags %}
        <article>
            <h1>{{ ledger.date }}</h1></ br>
            <p>{{ ledger.content|markdown:"trusted" }}</p>
        </article>
{% endblock %}
